.nav-container {
    position: absolute;
    top: 4vh;
    width: 100%;
    height: 40vh;
    margin: 0;
}

.custom-shape-container {
    display: flex;
}

.custom-shape.arda {
    display: inline-block;
    width: 50vw;
    height: 40vh;
    margin: 0;
    clip-path: ellipse(85% 100% at 25% 0);
    background: linear-gradient(135deg, #A5CC6B, #7FAF50);
}

.border-wrapper {
    position: relative;
    width: calc(50vw + 4px);
    height: calc(40vh + 4px);
    clip-path: ellipse(85% 100% at 25% 0);
    background: black;

}

.custom-shape.doruk {
    border-bottom: 2px solid black;
    display: inline-block;
    width: 50%;
    height: 18.7vh;
    margin: 0;
    background: linear-gradient(495deg, #7FAF50, #A5CC6B);
    rotate: 360deg;
}


.nav-container img {
    margin-top: 1vh;
    margin-left: 12vw;
    width: 15vw;
    height: 27.5vh;
    mix-blend-mode: multiply;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    width: 45%;
    height: 20%;
    font-size: 1.4rem;
    margin-right: 2vw;
    align-items: center;
    display: flex;
    float: right;
    gap: 2vw;
}

.nav-bar-link {
    font-style: italic;
    text-shadow: 2px 2px 6px rgba(66, 68, 90, 0.7);
    font-weight: 600;
    color: #173C28;
    margin-top: 0;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-bar-link:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #2E6B3F;
    transform: scale(1.05);
}