.article-widget-container {
    display: grid;
    row-gap: 10vh;
    grid-template-columns: 40vw 40vw;
    width: fit-content;
}

.flashbang {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    z-index: 9999;
}

.flashbang.active {
    opacity: 1;
}
