.add-device {
    border-radius: 10%;
    background-color: #A1BA89;
    border: 2px #34623F solid;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    transition: all 0.3s;
    
}

.add-device:active {
    border-color: #A5CC6B;
    transform: scale(1.05);
    background-color: #768948;
    color: #92BDA3;
}

.add-device:hover {
    transform: scale(1.2);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

.form-container label input {

    width: 30vw;
    margin-left: 35vw;
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #A1BA89;
    border: 2px #34623F solid;
    transition: all 0.2s;
}

.form-container label input::-webkit-inner-spin-button {
    appearance: none;
}

.form-container label p {
    font-size: 1.2rem;
}

.form-container label input:focus {
    border: 3px #1E2F23 solid;
    outline: none;
    transform: scale(1.02);
}

form {
    display: flex;
    flex-direction: column;
}

#device-adder-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

#submit-btn {
    width: 30vw;
    border-radius: 10px;
    background-color: #A1BA89;
    border: 2px #34623F solid;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    transition: all 0.3s;
}

#submit-btn:hover {
    transform: scale(1.2);
}

.device-adder {
    display: flex;
    gap: 1vw;
}

.device-adder label {
    font-size: 1.2rem;
    display: flex;
    gap: 1vw;
}

.delete-btn {
    font-size: 1.2rem;
    width: 7.5vw;
    border-radius: 10px;
    background-color: #A1BA89;
    transition: all 0.2s;
    border: 2px #34623F solid;
}

.delete-btn:active {
    outline: none;
    background: rgb(90, 13, 13);
    border-color: rgb(156, 97, 20);
    transform: scale(1.02);
}

.device-adder label input {
    border-radius: 10px;
    padding: 5px;
    background-color: #A1BA89;
    border: 2px #34623F solid;
    transition: 0.2s all;
}

.device-adder label input::-webkit-inner-spin-button {
    appearance: none;
}

.device-adder label input:focus {
    border: 3px #1E2F23 solid;
    outline: none;
    transform: scale(1.02);
}

.crop-li {
    font-size: 1.3rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 15vh;
    text-align: center;
    list-style: none;
    width: 30vw;
    background-color: #A1BA89;
    border: 2px #34623F solid;
}
.response-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.crops-container {
    margin-top: 10vh;
    width: fit-content;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 15vh;
    row-gap: 5vh;
    column-gap: 5vw;
    flex-direction: column;
    align-items: center;
}